<div class="sidebar">

    <!-- Logo -->

    <div class="logo">

        <i class="bi bi-box-seam-fill"></i>

        <span>Garments ERP</span>

    </div>

    <!-- Menu -->

    <ul class="menu">

        <li *ngFor="let menu of menus">

            <!-- Main Menu -->

            <a
                class="menu-title"
                (click)="hasChildren(menu) ? toggle(menu) : null"
                [routerLink]="!hasChildren(menu) ? menu.route : null">

                <span>

                    <i [class]="menu.icon"></i>

                    {{ menu.title }}

                </span>

                <i
                    *ngIf="hasChildren(menu)"
                    class="bi"
                    [class.bi-chevron-down]="!menu.expanded"
                    [class.bi-chevron-up]="menu.expanded">

                </i>

            </a>

            <!-- First Level -->

            <ul
                class="submenu"
                *ngIf="menu.expanded">

                <li *ngFor="let child of menu.children">

                    <!-- Child Without Submenu -->

                    <a
                        *ngIf="!hasChildren(child)"
                        [routerLink]="child.route"
                        routerLinkActive="active"
                        >

                        <i [class]="child.icon"></i>

                        {{ child.title }}

                    </a>

                    <!-- Child With Submenu -->

                    <ng-container *ngIf="hasChildren(child)">

                        <a
                            class="submenu-title"
                            (click)="toggle(child)">

                            <span>

                                <i [class]="child.icon"></i>

                                {{ child.title }}

                            </span>

                            <i
                                class="bi"
                                [class.bi-chevron-down]="!child.expanded"
                                [class.bi-chevron-up]="child.expanded">

                            </i>

                        </a>

                        <!-- Second Level -->

                        <ul
                            class="child-menu"
                            *ngIf="child.expanded">

                            <li *ngFor="let item of child.children">

                                <a
                                    [routerLink]="item.route"
                                    routerLinkActive="active">

                                    <i [class]="item.icon"></i>

                                    {{ item.title }}

                                </a>

                            </li>

                        </ul>

                    </ng-container>

                </li>

            </ul>

        </li>

    </ul>

</div>