.container-fluid{
    padding:20px;
}

.card{
    border:none;
    border-radius:10px;
}

.card-header{
    font-size:20px;
    font-weight:600;
}

.form-label{
    font-weight:600;
}

.form-select{
    height:45px;
}

.btn{
    min-width:220px;
}